/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgray;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.card {
    margin-top: 30px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.172549) 0px 2px 4px 0px;
    border-radius: 0;
    background-color: white;
}

    .card h2 {
        color: white;
        background-color: #0065a4;
        padding: 5px;
        margin: 0px;
        margin-top: -10px;
        margin-left: -10px;
    }

    .right {
        display: inline-block;
        float: right;
    }

.card-button-block {
    display: block;
    width: 100%;
    height: 50px;
}

.card-text {
    margin-top: 10px;
}

.card-block {
    margin-top: 20px;
}

.card-block h4 {
    text-decoration: underline;
    text-align: center;
}

.graph {
    height: 700px;
}

.graph svg {
    overflow: visible;
    margin-left: 30px;
}

.graph-hidden {
    display: none;
}

.checkbox-inline-site {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 0;
    margin-left: 10px;
}