@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h2>Residential and Commercial Price of Natural Gas in Colorado Over Time</h2>
            <div class="card-text">
                <p>This dashboard is designed to illustrate a relationship between the price of natural gas in Colorado, and production of natural gas in the Niobrara Basin.  The Niobrara basin extends over much of northeastern Colorado and southwestern Nebraska.  The close geographic proximity of the Niobrara basin to the Denver-Boulder metropolitan region should lead to a correlation between the price of natural gas in Colorado and production in the Niobrara basin.</p>
                <p>The first chart presented shows the average price of natural gas for commercial and residential customers displayed over time.  This chart covers a time period between the late 1980s and 2017.</p>
            </div>
            <div class="graph card-block">
                <h4>Residential and Commercial Price of Natural Gas in Colorado Over Time</h4>
                <svg width="100%" height="100%" id="residentialCommercial"></svg>
            </div>
            <div class="graph card-block">
                <h4>Production of Natural Gas in Mcf in the Niobrara Basin Over Time</h4>
                <svg width="100%" height="100%" id="niobaraProduction"></svg>
            </div>
        </div>
    </div>
</div>
